*{
    box-sizing: border-box;
} 
.bgcolor{
    width: 100%;
    background-color: #35C1F0;
    position: fixed;
    z-index: 1;
}
#togle{
    color:white;
}
.logoimg{
    background-attachment: fixed;
    margin-left: 0.782%;
    margin-top: 3vh;
    width:15.625%;
}
.logodesigen h1{
    padding-top: 20px;
    font-size: 1.5em;
}
.color {
    padding: 0 2%;
    color: white;
}

.color:hover{
    color: aqua;
}



